@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100vw;
    background-color: #233EFF;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
h1{
    color: white;
    text-shadow: 2px 2px rgb(2, 2, 154);
    padding: 10px;

}